YeelightDomEnv/
.cache/
.config/
.local/
.mozilla/
.dbus/
.pki/
.pp_backup/

*.log
*.log.*
*.bak
nohup.out
__pycache__/
*.pyc

Music/
Documents/
Downloads/
Desktop/
Bookshelf/
Templates/
Public/
font/

.Xauthority
.xsession-errors*
.bash_history
.python_history
.lesshst
.sudo_as_admin_successful
.selected_editor

*.json
.bashrc
.bash_logout
.profile
.dmrc

# Runtime media placeholders
Yeelight Controller/Videos/
